<div class="container">
    <!-- section title -->
    <div class="row mt-3">
    <div class="col-12 text-center">
    <h1>Aplikacja pogodowa</h1>
    </div>
    </div>
    <!-- section city name -->
    <div class="row mt-3">
    <div class="col-12">
    <form [formGroup]="weatherSearchForm" (ngSubmit)="checkWeather()">
    <div class="form-group">
    <div class="input-group">
    <input type="text" class="form-control"
    placeholder="Proszę wprowadzić nazwę miasta..."
    formControlName="city">
    <div class="input-group-append">
    <button id="check-weather" class="btn btn-primary"
   type="submit">Sprawdź pogodę</button>
    </div>
    </div>
    </div>
    </form>
    </div>
    </div>
    <div class="row mt-3">
    <div class="col-12">
       <h3 class="text-center mb-4">Bieżące warunki pogodowe</h3>
      <p class="text-center">Temperatura: {{weatherData?.main?.temp}} °C</p>
      <p class="text-center">Temperatura odczuwalna: {{weatherData?.main?.feels_like}} °C</p>
      <p class="text-center">Wilgotność: {{weatherData?.main?.humidity}} %</p>
      <p class="text-center">Ciśnienie: {{weatherData?.main?.pressure}} hPa</p>
    </div>
    </div>
   </div>

